h1 {
    font-family: 'Monserat', sans-serif;
    color: #3A998E;
    margin-bottom: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:550px) {
    .header_container {
        text-align: center;

    }
}