@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gray-outline-white-bg {
    @apply bg-[#FFFFFF] border border-[#D9D9D9] rounded-lg;
  }

  .green-outline-white-bg {
    @apply bg-[#FEFDFD] border border-[#3A998E] rounded-xl
  }

  .active-tab {
    @apply border-l-2 border-[#3FE0D0];
  }

  .selected-tab {
    @apply border-b-2 border-[#3FE0D0];
  }

  .flex-all-centered {
    @apply flex flex-col items-center justify-center;
  }

  .fullwidth-flex-center {
    @apply w-full flex justify-center;
  }

  .AuthContentContainer {
    @apply h-[83vh] w-full absolute left-0 top-24 px-5 flex items-center justify-center space-x-10;
  }

  .divider {
    @apply h-[1px] flex-grow bg-gray-400;
  }

  .AuthPageTitle {
    @apply text-xl font-medium text-[#26867B];
  }

  .AuthPageDesc {
    @apply text-sm text-slate-500;
  }

  .footerSectionHeader {
    @apply mb-2 text-sm font-medium;
  }

  .custom-shadow {
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.3) inset;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;

  }

  .hidden-scrollbar {
    scrollbar-width: none;
  }

}

body {
  background-color: #fff;

}